
@{
    ViewBag.Title = "BuscarDoc";
}

<h2>Buscar Por Documento</h2>
<p>
    Ingrese el Número de Documento del Usuario a Buscar:
    @Html.TextBox("documento")
</p>
<p>
    <input type="submit" value="Buscar" />
</p>


