
@{
    ViewBag.Title = "BuscarCentro";
}

<h2>Buscar Por Centro de Formación</h2>
<p>
    Ingrese el Centro de Formación a Buscar:
    @Html.TextBox("documento")
</p>
<p>
    <input type="submit" value="Buscar" />
</p>


